language: ruby
rvm:
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0
  - ruby-head

cache: bundler

before_install:
  - gem install bundler

script:
  - bundle exec rake
  - bundle exec codeclimate-test-reporter

matrix:
  allow_failures:
  - rvm: ruby-head

addons:
  code_climate:
    repo_token:
      secure: Z23O936LoCDGJ/OyYsLzxTUI+CMWyrfeN1PtQdCNMdF4vxwaCsAHr3ulTdudGhKMrVZGENSEK6fq0Xal3o3oPaH9aGM9sUQ/ibRM+J94Lx6Owu4okTsIHoEy4vFeW+A/62aiwxPcoi7PFrvC8FOfaZg+b+vvYAQcitVe6qwBHiE=

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/059b85fcc75550b7bc39
